div.page-container {
    position: relative;
    min-height: 100vh;
}
  
div.content-wrap {
    padding-bottom: 10rem;    /* Footer height */
}
  
footer {
    position: absolute;
    background: none repeat scroll 0 0 #fff;
    right: 0;
    bottom: 0;
    left: 0;    
    width: 100%;
    height: 6rem;            /* Footer height */
}

.navbar {
    margin-bottom: 20px;
    background-color: #002557;
  }
  
.div-headline {
    padding-top:50px;
    padding-bottom:100px;
    text-align:center;
}

.div-signup {
    padding-top:50px;
    padding-bottom:50px;
    background-color: #f8f9fa;
}

a {
    color: #274275;
}

a.btn-primary {
    background-color: #002557;
    border-color: #274275;
}

a.btn-primary:hover {
    background-color: #274275;
    border-color: #002557;
}

a.btn-info {
    background-color: #B51C1C;
    border-color: #DD2727;
}

a.btn-info:hover {
    background-color: #DD2727;
    border-color: #B51C1C;
}

a.nav-link {
    color: #fff;
}


.addlink, .add-row {
    background:url("/static/images/plus-16.ico") no-repeat left center;
    padding-left:19px;
}

.changelink {
    background:url("/static/images/edit-3-16.ico") no-repeat left center;
    padding-left:19px;
}
.deletelink, .delete-row {
    background:url("/static/images/delete-2-16.ico") no-repeat left center;
    padding-left:19px;
}

.viewdetailslink {
    background:url("/static/images/view-details-16.ico") no-repeat left center;
    padding-left:19px;
}

.adddetailslink {
    background:url("/static/images/add-list-16.ico") no-repeat left center;
    padding-left:19px;
}

.downloadlink {
    background:url("/static/images/download-2-16.ico") no-repeat left center;
    padding-left:19px;
}

.dbviewslink {
    background:url("/static/images/dbviews.ico") no-repeat left center;
    padding-left:19px;
}

.permissionlink {
    background:url("/static/images/permissionlink.ico") no-repeat left center;
    padding-left:19px;
}

.documentslink {
    background:url("/static/images/documentslink.ico") no-repeat left center;
    padding-left:19px;
}

/* for diabled links */
.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .isDisabled > a {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }

.list-inline-item:not(:last-child) {
    margin-right: 3rem;
}