{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<!--Login Form col-lg-4 col-md-6 col-sm-8-->
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h3 class="card-title">Log in</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </form>
                </div>
                <div class="card-footer text-muted text-center">
                New user? Please contact support-<!-- kommentar@falle -->kks@uniklinikum<!-- kommentar@falle -->-dresden.de
                </div>
            </div>
            <div class="text-center py-2">
                <small>
                <a href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
                </small>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}
