{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load plotly_dash %}

{% block breadcrumb %}
    <div class="container-fluid">
        <div class = "container">
            <ol class="breadcrumb my-4">
                <li class="breadcrumb-item"><a href="{% url 'patients:patients_search' %}">Step 1: Search patient</a></li>
                <li class="breadcrumb-item active">Step 2: Retrieve patient-specific medical data</li>
                {% comment %} <li class="breadcrumb-item active" aria-current="page">Destiny view bla</li> {% endcomment %}
            </ol>
{% endblock %}

{% block content %}

{% if targetId == None %}
<div class="alert alert-danger" role="alert">
  The given person could not be surely identified.
</div>
<a href="{% url 'patients:patients_search' %}" class="btn btn-secondary">Return to Patient search</a>
{% else %}
<h2>Medical data of requested patient</h2>

<dl class="row">
    <dt class="col-sm-3">Firstname:</dt>
    <dd class="col-sm-9">{{ patient_data.firstName }}</dd>
    <dt class="col-sm-3">Lastname:</dt>
    <dd class="col-sm-9">{{ patient_data.lastName }}</dd>
    <dt class="col-sm-3">Gender:</dt>
    <dd class="col-sm-9">{{ patient_data.gender }}</dd>
    <dt class="col-sm-3">Birthdate:</dt>
    <dd class="col-sm-9">{{ patient_data.birthdate }}</dd>
    <dt class="col-sm-3">Birthplace:</dt>
    <dd class="col-sm-9">{{ patient_data.birthplace }}</dd>
    <dt class="col-sm-3">Domain:</dt>
    <dd class="col-sm-9">{{ domain}}</dd>
    <dt class="col-sm-3">Pseudonym:</dt>
    <dd class="col-sm-9">{{ targetId }}</dd>
</dl>


{% if patient_data.lastName == 'Liebknecht' %}
<div id="shineApp" style="width: 100%; height: 67vh;">
    <!-- 4476, 4456 -->
  <iframe src="http://10.25.69.150/shiny/cml-mol-monitor/?PID={{ targetId }}" style="position: relative; top: 0; left: 0; width: 100%; height: 98%;" frameborder="0"></iframe>
</div>
{% endif %}

<!-- Run R Script Test -->

<!-- Plotly Dash Visualization of BCR-ABL/ABL diagnostics-->
<!--{% plotly_app name="CML_BCR-ABL-Ratio"  initial_arguments='{"targetId": {"value": "mdat_078755"}}' ratio=0.5 %}
-->

{% plotly_app name="CML_BCR-ABL-Ratio"  initial_arguments=dash_context  ratio=0.5 %}
{% endif %}

</div>
{% endblock content %}