{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n lazysignup_tags %}
{% load permission_tags %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active"><a href="">Step 1: Search for patient</a></li>
            <li class="breadcrumb-item" aria-current="page">Step 2: Retrieve patient-specific medical data and model predictions</li>
        </ol>
{% endblock %}

{% block content %}
{% if user|is_lazy_user or user|has_role:'dept_haematology' or user|has_role:'laypublic'%}
{% for group in user.groups.all %}
  {{group.description}}
{% endfor %}
<h2>Search for patient via Trusted Third Party</strong></h2>
<div class="row justify-content-left">
  <div class="col-lg-6">
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form searchPsnByPatientForm %}
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
  <div class="col-lg-6">
    <div class="alert alert-info" role="alert">
      <p>Authorized clinicians are able to search for a patient by patient identifying data.</p>
      <p>The following fictitous patients can be searched via Trusted Third Party by everyone:</p>
      <ul>
        <li><strong>Max Mustermann, Male, born on 2000-01-01</strong></li>
        <li><strong>Erika Mustermann, Female, born on 1990-01-01</strong></li>
        <li><strong>Kari Nordmann, Female, born on 1980-01-01, in Bergen</strong></li>
      </ul>
    </div>
  </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  You are not allowed to access patients from the field of haematology!
</div>
{% endif %}





{% comment %} <h2>Search for pseudonymized patients by trial</h2>
<div class="alert alert-primary" role="alert">
<p>Adding checkbox for trial and go</p>
<p>Example: DESTINY --> <a href="{% url 'patients:patients_list' 15 %}">GO</a></p>
</div> {% endcomment %}

{% comment %} <div id="shineApp" style="width: 100%; height: 67vh;">
  <iframe src="http://localhost/patients/patient/shiny/" style="position: relative; top: 0; left: 0; width: 100%; height: 98%;" frameborder="0"></iframe>
</div> {% endcomment %}
{% endblock content %}