{% extends 'base.html' %}
{% load i18n lazysignup_tags %}
{% load permission_tags %}

{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
{% load plotly_dash %}

{% block title %}
  Trial detail
{% endblock %}

{% block breadcrumb %}
    <div class="container">
    {% include "trials/trials_breadcrumb.html" %}
{% endblock %}

{% block content %}
    <h2>Trial details of trial {{trial.studyCode}} </h2>
    {% can "change_trial" trial user=user as can_change_trial %}
    {% if can_change_trial %}
        <li class="list-inline-item"><a class="changelink" href="{% url 'trials:trials_update' trial.pk %}">Edit</a></li>
    {% else %}
        <li class="list-inline-item"><span class="isDisabled"><a class="changelink">Edit</a></span></li>
    {% endif %}
    {% can "delete_trial" trial user=user as can_delete_trial %}
    {% if can_delete_trial %}
        <li class="list-inline-item"><a class="deletelink" href="{% url 'trials:trials_delete' trial.pk%}">Delete</a></li>
    {% else %}
        <li class="list-inline-item"><span class="isDisabled"><a class="deletelink">Delete</a></span></li>
    {% endif %}

    <hr />
    <dl class="row">
        <dt class="col-sm-3">Trial name:</dt>
        <dd class="col-sm-9">{{ trial.name }}</dd>

        <dt class="col-sm-3">Study code:</dt>
        <dd class="col-sm-9">{{ trial.studyCode }}</dd>

        <dt class="col-sm-3">Description:</dt>        
        <dd class="col-sm-9">{{ trial.description|linebreaks }}</dd>

        <dt class="col-sm-3"><a href="https://clinicaltrials.gov/">ClinicalTrials.gov:</a></dt>        
        <dd class="col-sm-9">{{ trial.clinicalTrials }}</dd>

        <dt class="col-sm-3">EutraCT:</dt>        
        <dd class="col-sm-9">{{ trial.clinicalTrials }}</dd>

        <dt class="col-sm-3">Disease:</dt>        
        <dd class="col-sm-9">{{ trial.disease }}</dd>

        <dt class="col-sm-3">Created At:</dt>        
        <dd class="col-sm-9">{{ trial.createdAt }}</dd>

        <dt class="col-sm-3">Created by:</dt>        
        <dd class="col-sm-9">{{ trial.createdBy }}</dd>
    </dl>
    <hr />

    <!--
    <h2>Permissions</h2>
    {% can "admin_trial" trial user=user as can_admin_trial %}
    <ul class="list-inline">
        {% if can_admin_trial %}
            <li class="list-inline-item"><a class="addlink" href="">Add permission</a></li>
        {% else %}
            <li class="list-inline-item"><span class="isDisabled"><a class="addlink">Add permission</a></span></li>
        {% endif %}
    </ul>
    {% if trial.trialpermission_set.all %}
        <p>In addition to the full access of the creator, access rights are set as follows.</p>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>User</th>
                    <th>Permission</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% for permission in trial.trialpermission_set.all %}
            <tr>
                <td>{{ permission.user }}</td>
                <td>{{ permission.get_permission_display }}</td>
                {% if can_admin_trial %}
                    <td><a class="changelink" href="">Edit</a></td>
                    <td><a class="deletelink" href="">Delete</a></td>
                {% else %}
                    <td><span class="isDisabled"><a class="changelink">Edit</a></span></td>
                    <td><span class="isDisabled"><a class="deletelink">Delete</a></span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No further permissions available. Only the trial creator has full access.</p>
    {% endif %}
    <div class="alert alert-info" role="alert">
        At present, add, edit and delete permissions aren't implemented in frontend. Changes can be done by admins via Django admin site.
    </div>
    <hr />
    -->
    <h2>Access to research data</h2>
    <p>The trial contains <strong>{{countOfPatients}} patients.</strong></p>
    <ul>
        <li><a href="{% url 'dbviews:trial_diagnostic_values' trial.pk %}">Diagnostic values</a></li>
        <li><a href="{% url 'dbviews:trial_medication_values' trial.pk %}">Treatments</a></li>
    </ul>
    <h2>Data visualization</h2>
    {% plotly_app name="CML_BCR-ABL-Ratio-agg"  initial_arguments=dash_context ratio=1 %}

{% endblock content %}