{% extends 'base.html' %}
{% load i18n lazysignup_tags %}
{% load permission_tags %}

{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}

{% block title %}
  Trial documents
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        {% include "trials/trials_breadcrumb.html" %}
        {% comment %} <ol class="breadcrumb my-4"> {% endcomment %}
            {% comment %} <li class="breadcrumb-item"><a href="{% url 'trials:trials_list' %}">List trials</a></li>
            <li class="breadcrumb-item"><a class="viewdetailslink" href="{% url 'trials:trials_detail' trial.pk %}">Details</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span class="documentslink">Documents</span></li>
            <li class="breadcrumb-item"><a class="dbviewslink" href="">Views</a></li>
            <li class="breadcrumb-item"><a class="permissionlink" href="">Permissions</a></li> {% endcomment %}
        </ol>
{% endblock %}

{% block content %}
    <h2>Documents of trial "{{trial.studyCode}}"</h2>
    {% can "change_trial" trial user=user as can_change_trial %}
    <ul class="list-inline">
        {% if can_change_trial %}
            <li class="list-inline-item"><a class="addlink" href="{% url 'trials:trials_file_upload' trial.pk %}">Add file</a></li>
        {% else %}
            <li class="list-inline-item"><span class="isDisabled"><a class="addlink">Add file</a></span></li>
        {% endif %}
    </ul>
    {% if trial.document_set.all %}
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Document</th>
                    <th>Description</th>
                    <th>Uploaded at</th>
                    <th class="text-right">Uploaded by</th>

                </tr>
            </thead>
            {% for document in trial.document_set.all %}
                <tr>
                    <td>
                        {% if can_change_trial %}
                            <a class="viewdetailslink" href="{% url 'trials:trials_upload_detail' document.pk %}">Details</a>
                        {% else %}
                            <span class="isDisabled"><a class="viewdetailslink">Details</a></span>
                        {% endif %}
                    </td>
                    <td><a class="downloadlink" href="{{ document.document.url }}" target="blank">{{ document.filename }}</a></td>
                    <td>{{ document.description|linebreaks|truncatechars:150 }}</td>
                    <td>{{ document.uploaded_at }}</td>
                    <td class="text-right">{{ document.uploaded_by }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No documents available.</p>
    {% endif %}
{% endblock content %}