{% extends 'base.html' %}
{% load bootstrap4 %}
<!-- Title -->
{% block title %}
  Trial Upload
{% endblock %}

<!-- breadcrumb -->
{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'trials:trials_list' %}">List trials</a></li>
            <li class="breadcrumb-item"><a class="viewdetailslink" href="{% url 'trials:trials_detail' trial.pk %}">Details</a></li>
            <li class="breadcrumb-item"><a class="documentslink" href="{% url 'trials:trials_file_list' trial.pk %}">Documents</a></li>
            <li class="breadcrumb-item active" aria-current="page">File upload</strong></li>       
            <li class="breadcrumb-item"><a class="dbviewslink" href="">Views</a></li>
            <li class="breadcrumb-item"><a class="permissionlink" href="">Permissions</a></li>             
        </ol>
{% endblock %}

{% block content %}
  <h2>File upload</h2>
  <form method="post" class="mb-4" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <div class="row">
      <div class="col-6">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Upload file</button>
        <a href="{% url 'trials:trials_detail' trial.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}