{% extends 'base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
  Document delete
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'trials:trials_list' %}">List trials</a></li>
            <li class="breadcrumb-item"><a class="viewdetailslink" href="{% url 'trials:trials_detail' document.trial.pk %}">Details</a></li>
            <li class="breadcrumb-item"><a class="documentslink" href="{% url 'trials:trials_file_list' document.trial.pk %}">Documents</a></li>
            <li class="breadcrumb-item active" aria-current="page">Delete document</li>
            <li class="breadcrumb-item"><a class="dbviewslink" href="">Views</a></li>
            <li class="breadcrumb-item"><a class="permissionlink" href="">Permissions</a></li>
        </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete the document with following values?</p>
            <dl class="row">
                <dt class="col-sm-3">Document:</dt>
                <dd class="col-sm-9">{{ document.document }}</dd>
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">{{ document.description }}</dd>
                <dt class="col-sm-3">Uploaded at:</dt>
                <dd class="col-sm-9">{{ document.uploaded_at }}</dd>
                <dt class="col-sm-3">Uploaded by:</dt>
                <dd class="col-sm-9">{{ document.uploaded_by }}</dd>
            </dl>
            <input class="btn btn-success" type="submit" value="Confirm">
            <a href="{% url 'trials:trials_upload_detail' document.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}