"""
Example settings for local development

Use this file as a base for your local development settings and copy
it to predictDemo/settings/local.py. It should not be checked into
your code repository.

"""
from predictDemo.settings.base import *

ALLOWED_HOSTS = []

# Setup support for proxy headers
USE_X_FORWARDED_HOST = True
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')

# Allows to display plotly dash iframes
X_FRAME_OPTIONS = 'SAMEORIGIN'

DEBUG = True

# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'demo_db.sqlite3',
    }
}

MOSAIC_HOST = 'http://...'
MOSAIC_APIKEY= 'apikey'
MOSAIC_USERID = 'userid'
MOSAIC_USER = 'username'

MAGPIE_URL = 'ip'
MAGPIE_USER = 'username'
MAGPIE_PASSWORD = 'password'

WSGI_APPLICATION = 'predictDemo.wsgi.local.application'
