"""
Setting file with local configuration. It should not be checked into your code repository.
"""

from predictDemo.settings.base import *

ALLOWED_HOSTS = ['']

DEBUG = False


# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '',
    },
    'HaematoOPT': {
        'NAME': 'HaematoOPT',
        'ENGINE': 'sql_server.pyodbc',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '1433',
        'OPTIONS': {
            'driver': 'ODBC Driver 17 for SQL Server',
        },
    }
}

MOSAIC_HOST = 'http://...'

WSGI_APPLICATION = 'predictDemo.wsgi.production.application'