{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}

{% block title %}
  Diagnostic values
{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="{% url 'trials:trials_detail' trial.pk %}">Main page of "{{trial}}"</a></li>
            <li class="breadcrumb-item active">Diagnostic values</li>
            {% comment %} <li class="breadcrumb-item active" aria-current="page">Destiny view bla</li> {% endcomment %}
        </ol>
{% endblock %}


{% block content %}
    <h3>Diagnostic values</h3>
    <!-- Export -->
    <div class="col-sm-12">
        <div class="float-right">
            {% if view.export_formats %}
                {% for format in view.export_formats %}
                <a href="{% export_url format %}" class="btn btn-xs btn-default">
                    download  <code>.{{ format }}</code>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% render_table diagnosticTable %}
{% endblock content %}