{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container">
        <h2>Application</h2>
        <p>This demo server relates to the publication <strong>Hoffmann et al. "Data integration between clinical research and patient care: a framework for context-depending data sharing and in silico predictions"</strong>, submitted for publication to PLOS Digital Health (2022), <a href="https://doi.org/10.1101/2022.10.10.22280912" target="_blank">https://doi.org/10.1101/2022.10.10.22280912</a>. This demonstrator examplifies how data analytic results, particularly in silico predictions, can be seamlessly integrated into workflows for simultaneous use in research an clinical care routines in aspecific hospital setting.</p>
        <h2>Contact</h2>
        <p>Institute for Medical Informatics and Biometry [<a href="https://tu-dresden.de/med/mf/imb">homepage</a>]<br />
Medizinische Fakultät Carl Gustav Carus, Technische Universität Dresden<br/>
If you have any questions or recommendations please contact Katja Hoffmann. <p>
        <h2>Disclaimer</h2>
        <p>The demo server is provided to the research community in good faith without guarantees of any kind.</p>
    </div>
{% endblock content %}