{% load static %}
<!DOCTYPE html>
{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
{% load i18n lazysignup_tags %}
{% load permission_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title%}</title>
        {% bootstrap_css %} {# Embed Bootstrap CSS #}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block stylesheet %}{% endblock stylesheet%}
        {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    </head>

<body>
    {% block body %}
        <!-- Page container (Nav + Content + Footer ) -->
        <div class="page-container">
            <!-- Content Wrap (Nav + Content ) -->
            <div class="content-wrap">
                <!--Nav bar -->
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Toggler bar -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="true" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Username right and Dropdown menu for account settings-->
                        <div class="collapse navbar-collapse" id="mainMenu">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">
                                    Home
                                    </a>
                                </li>
                            {% if user.is_authenticated %}
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ForClinicians" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        For Clinic
                                        </a>
                                        <!--For clinician menu-->
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ForClinicians">
                                            {% if user|has_role:'dept_haematology'%}
                                            <a class="dropdown-item" href="{% url 'patients:patients_search' %}">Request patient data</a>
                                            {% else %}
                                            <span class="isDisabled"><a class="dropdown-item" href="">Request patient data</a></span>
                                            {% endif %}
                                        </div>
                                        
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ForResearcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        For Research
                                        </a>
                                        <!--For researcher menu-->
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ForResearcher">
                                            <!-- <a class="dropdown-item" href="{% url 'predictions:prediction_all_list' %}">Predictions</a> -->
                                            {% if user|has_role:'trial_cml'%}
                                            <a class="dropdown-item" href="{% url 'trials:trials_list' %}">Trials</a>
                                            {% else %}
                                            <span class="isDisabled"><a class="dropdown-item" href="">Trials</a></span>
                                            {% endif %}

                                        </div>
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ForResearcher">
                                            
                                        </div>                                       
                                    </li>
                                    {% if user|has_role:'laypublic'%}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="ForLayPublic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        For Lay public
                                        </a>
                                        <!--For lay public menu-->
                                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ForLayPublic">
                                            <a class="dropdown-item" href="{% url 'patients:patients_search' %}">Request patient data</a>
                                        </div>                                   
                                    </li>
                                    {% endif %}
                                <!-- Admin menu for staff-->
                                {% if user.is_staff %}
                                    <li><a class="nav-link" href="{% url 'admin:index' %}" target= "-blank">Admin</a></li>
                                    <li><a class="nav-link" href="{% url 'docs_root' %}" target= "-blank">Docs</a></li>
                                {% endif %}
                                </ul>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        {% if not user|is_lazy_user %}
                                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Logged in as {{ user.username }}
                                            </a>
                                        {% else %}
                                            {% if user|has_role:'dept_haematology'%}
                                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Logged in as guest physician
                                            </a>
                                            {% elif user|has_role:'trial_cml'%}
                                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Logged in as guest researcher
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        <!--account setting-->
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                            {% if not user|is_lazy_user %}
                                                <a class="dropdown-item" href="{% url 'accounts:my_account' %}">My account</a>
                                                <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
                                            {% else %}
                                                {% if user|has_role:'dept_haematology'%}
                                                    <a class="dropdown-item" href="{% url 'accounts:switch_lazyuser_group' %}">Switch to a guest researcher account.</a>
                                                {% elif user|has_role:'trial_cml'%}
                                                    <a class="dropdown-item" href="{% url 'accounts:switch_lazyuser_group' %}">Switch to a guest physician account.</a>
                                                {% endif %}
                                            {% endif %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            {% else %}
                                <a class="nav-link menu-right" href="{% url 'accounts:login' %}">
                                Log in
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                <div id="container">
                    <!--breadcrumb-->
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                    <!--content-->
                    {% block content %}
                    {% endblock content%}
                </div>
            </div> <!-- End of Content wrap (Nav + Content) -->

            <!-- Footer -->
            <footer class="page-footer font-small">
                <div class="footer">
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="{% url 'home' %}">
                                            <img src={% static "images/prediCt_logo_transparent.png" %} width="70" alt="PrediCt"> 
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.eracosysmed.eu/" target="_blank">
                                            <img src={% static "images/eracosysmedLogo-1-750x410.jpg" %} width="70" alt="EracoSysMed">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://ec.europa.eu/commission/index_de" target="_blank">
                                            <img src={% static "images/ec-logo-horiz-web_en.jpg" %} width="150" alt="European Commission">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://tu-dresden.de/" target="_blank">
                                            <img src={% static "images/TU_Dresden_Logo_blau_HKS41.png" %} width="100" alt="Technische Universität Dresden">
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="text-align: right">
                                        <a href="{% url 'about' %}">About</a>
                                    </li>
                                    <li class="list-inline-item" style="text-align: right">
                                        <a href="{% url 'docs_root' %}" target= "-blank" >Read The Docs</a>                                        
                                    </li>
                                </ul>  
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        <!-- End of page container-->
        </div>
    {% endblock body%}
</body>
</html>